<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Media Search</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/json" src="CNN.json"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="popcorn.js"></script>
    <script>

       angular.module('mediaSearch',[]).controller('searchController', ['$scope','$sce','$http', function ($scope,$sce,$http) {

            $scope.asrc = $sce.trustAsResourceUrl("../videos/search/musicvideo.mp4")
            $scope.selectedType = "CNN"
            $scope.videoName = []
            $scope.selectedVideo = ""
            $scope.type = ["CNN", "AUD", "RGB"];
            $scope.angularHeading = 'Video Helper'
            $scope.CNN = {"1": {"video": "flowers", "time": [1, 6]},"2": {"video": "interview", "time": [0, 5]},"3": {"video": "movie", "time": [10, 15]}}
            $scope.AUD = {"1": {"video": "flowers", "time": [2, 7]}, "2": {"video": "movie", "time": [13, 18]}, "3": {"video": "interview", "time": [3, 8]}}
            $scope.RGB = {"1": {"video": "flowers", "time": [2, 7]}, "2": {"video": "interview", "time": [6, 11]}, "3": {"video": "sports", "time": [14, 19]}}

            // Initialize the firt values
            initialize()

            function initialize(){

              $scope.videoName = [$scope.CNN["1"]["video"]+"_1",$scope.CNN["2"]["video"]+"_2",$scope.CNN["3"]["video"]+"_3"]
              $scope.selectedVideo = $scope.videoName[0]
              $scope.selectedType = $scope.type[0]

              assignValues()
            }

            function assignValues(){

              // Main videos

              $scope.asrc = $sce.trustAsResourceUrl("videos/"+$scope.selectedType+"_"+$scope.selectedVideo+".mp4")
              $scope.bsrc = $sce.trustAsResourceUrl("videos/"+$scope.selectedType+"_"+$scope.selectedVideo+".mp4")

              // CNN Videos
              $scope.csrc = $sce.trustAsResourceUrl("CNN/"+$scope.selectedType+"_CNN_"+$scope.selectedVideo+".mp4")

              // RGB Videos
              $scope.dsrc = $sce.trustAsResourceUrl("rgb/"+$scope.selectedType+"_RGB_"+$scope.selectedVideo+".mp4")
              $scope.esrc = $sce.trustAsResourceUrl("rgb/queryRGBMatch.mp4")

              // Audio Videos
              $scope.fsrc = $sce.trustAsResourceUrl("sound/"+$scope.selectedType+"_AUD_"+$scope.selectedVideo+".png")
              $scope.gsrc = $sce.trustAsResourceUrl("sound/queryMFCC.png")
            }

            $scope.changeType = function()
            {
              if($scope.selectedType=='CNN'){
                $scope.videoName = [$scope.CNN["1"]["video"]+"_1",$scope.CNN["2"]["video"]+"_2",$scope.CNN["3"]["video"]+"_3"]
              }else if($scope.selectedType=='AUD'){
                $scope.videoName = [$scope.AUD["1"]["video"]+"_1",$scope.AUD["2"]["video"]+"_2",$scope.AUD["3"]["video"]+"_3"]
              }else if($scope.selectedType=='RGB'){
                $scope.videoName = [$scope.RGB["1"]["video"]+"_1",$scope.RGB["2"]["video"]+"_2",$scope.RGB["3"]["video"]+"_3"]
              }
              $scope.selectedVideo = $scope.videoName[0]
              assignValues()
            }

            $scope.changeVideo = function(){
              assignValues()
            }

           /*$scope.playVideo = function (){
               var queryPlayer = document.getElementById("queryPlayer");
               queryPlayer.pause();
               document.getElementById("source").setAttribute("src",$scope.queryVideo);
               queryPlayer.load();
               queryPlayer.play();
           }*/
       }]);
    </script>
    <style>

    video{
      max-width: 90%;
      max-height: 90%;
    }

    img{
      max-width: 90%;
      max-height: 300px;
    }

    .form-ele {
      max-width:80%;
    }
    </style>
</head>
<body>
  <center>
    <div ng-app="mediaSearch" ng-controller="searchController" class="query" style="width: 90%;">
      <div class="jumbotron">
        <h2>{{angularHeading}}</h2>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="row">
            <h3>Audio Video</h3>
          </div>
          <div class="row">
            <img ng-src={{fsrc}} id="f"></img>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="row">
            <h3>Audio Query</h3>
          </div>
          <div class="row">
            <img ng-src={{gsrc}} id="g"></img>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="row">
            <label for="type">Type Select</label>
          </div>
          <div class="form-ele row">
            <select class="form-control" ng-model="selectedType" ng-change="changeType()" ng-options="x for x in type">
            </select>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="row">
            <label for="matched">Matched Videos</label>
          </div>
          <div class="row form-ele">
            <select class="form-control" ng-model="selectedVideo" ng-change="changeVideo()" ng-options="x for x in videoName">
            </select>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="row">
            <label for="matched">Seek (put value here)</label>
          </div>
          <div class="row form-ele">
            <input type="range" value="0" id="scrub" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="row">
            <h3>CNN Match</h3>
          </div>
          <div class="row">
            <video ng-src="{{csrc}}" id="c"></video>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="row">
            <h3>RGB Video</h3>
          </div>
          <div class="row">
            <video ng-src={{dsrc}} id="d">
            </video>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="row">
            <h3>RGB Query</h3>
          </div>
          <div class="row">
            <video ng-src={{esrc}} id="e">
            </video>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="row">
            <h3>Original Video</h3>
          </div>
          <div class="row">
            <video id="a" ng-src={{asrc}} controls>
            </video>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="row">
            <h3>Query Video</h3>
          </div>
          <div class="row">
            <video id="b" ng-src={{bsrc}}>
            </video>
          </div>
        </div>
      </div>
    </div>
  </center>
</body>
<script type="text/javascript">
    var videos = {
      a: Popcorn("#a"),
      b: Popcorn("#b"),
      c: Popcorn("#c"),
      d: Popcorn("#d"),
      e: Popcorn("#e"),
    },
    scrub = $("#scrub"),
    loadCount = 0,
    events = "play pause timeupdate seeking".split(/\s+/g);

    // iterate both media sources
    Popcorn.forEach(videos, function(media, type) {

      // when each is ready...
      media.on("canplayall", function() {

        // trigger a custom "sync" event
        this.emit("sync");

        // set the max value of the "scrubber"
        scrub.attr("max", this.duration());

        // Listen for the custom sync event...
      }).on("sync", function() {

        // Once both items are loaded, sync events
        if (++loadCount == 2) {

          // Iterate all events and trigger them on the video B
          // whenever they occur on the video A
          events.forEach(function(event) {

            videos.a.on(event, function() {

              // Avoid overkill events, trigger timeupdate manually
              if (event === "timeupdate") {

                if (!this.media.paused) {
                  return;
                }
                videos.b.emit("timeupdate");
                videos.c.emit("timeupdate");
                videos.d.emit("timeupdate");
                videos.e.emit("timeupdate");

                // update scrubber
                scrub.val(this.currentTime());
                return;
              }

              if (event === "seeking") {
                videos.b.currentTime(this.currentTime());
                videos.c.currentTime(this.currentTime());
                videos.d.currentTime(this.currentTime());
                videos.e.currentTime(this.currentTime());
              }

              if (event === "play" || event === "pause") {
                videos.b[event]();
                videos.c[event]();
                videos.d[event]();
                videos.e[event]();
              }
            });
          });
        }
      });
    });

    scrub.bind("change", function() {
      var val = this.value;
      videos.a.currentTime(val);
      videos.b.currentTime(val);
      videos.c.currentTime(val);
      videos.d.currentTime(val);
      videos.e.currentTime(val);
    });

    // With requestAnimationFrame, we can ensure that as
    // frequently as the browser would allow,
    // the video is resync'ed.
    function sync() {
      if (videos.b.media.readyState === 4) {
        videos.b.currentTime(
          videos.a.currentTime(
            videos.c.currentTime(
              videos.d.currentTime(
                videos.e.currentTime()
                )
              )
            )
          );
      }
      requestAnimationFrame(sync);
    }
    sync();
</script>
</html>
